<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>596199382762-20dddkekm4bl0uj4l6f7ot2jvkkmh2s0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596199382762-20dddkekm4bl0uj4l6f7ot2jvkkmh2s0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFWjpeTTyDOAJrQ_HYlwkm2FwtqK8RyPg</string>
	<key>GCM_SENDER_ID</key>
	<string>596199382762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flipIt</string>
	<key>PROJECT_ID</key>
	<string>take-off-c23a1</string>
	<key>STORAGE_BUCKET</key>
	<string>take-off-c23a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596199382762:ios:f19445cf77356d2e36c193</string>
</dict>
</plist>